<div>
  <ng-content></ng-content>
  <ul>
    <li>Id: {{product.id}}</li>
    <li class="nameAttribute">Name: {{product.name}}</li>
    <li>Preis: {{product.price}}</li>
    <li>Preis Netto: {{product.price | currency: "EUR": 'code' }}</li>
    <li>Preis Netto 16%: {{product.price | netto:16 | currency:"EUR": 'code' }}</li>
    <li *ngIf="showWeight">Gewicht: {{product.weight}}</li>
  </ul>
  <button mat-raised-button (click)="raisePrice()">Preis erhöhen</button>
  <br><button mat-raised-button color="primary" (click)="toggleWeight()">Gewicht ein-/ausblenden</button>
</div>
